doctype html
html
  head
    title NodePlaying
  body
    h2 Node.js is server-side Javascript
    form(method="post" action="/FormPost")
      Please enter your name:
      br
      input#NameTextBox(type="text", name="NameTextBox")
      input(type="submit" value="Submit")